/* general */

.text-gen { /*general text*/
    font-family: Arial, Helvetica, sans-serif;
}

.title-gen { /*general title*/
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
}

/* fixed navbar */

.navbar {
    background-color: #f72210;
}

.parent-fixed-nav {    
    height:27px;
    width: 100%;
}

.parent-subscribe {
    width: 100%;
} 

.logo-news {
    font-size: 25px;
    font-weight: 900;
}

.sign-nav {
    cursor: pointer;
}

.butt-nav {
    border: none;
    color:#f72210;
    cursor: pointer;
}

.bar {
    color: #fb9a94;
    cursor: pointer;
    font-size:30px;
}

/* 1 countainer */

.first-cont {
    background-color: aqua;
    height: auto;
    width:100%;
}




/**/