/* general */

.text-gen { /*general text*/
    font-family: Arial, Helvetica, sans-serif;
}

.title-gen { /*general title*/
    font-family: "Roboto Condensed", sans-serif;
}

.red-color {
    color:#f72210;
}

.grey-text {
    color: #333;
    line-height: 20px;
}

.title-gen-1:hover {
    cursor: pointer;
    text-decoration: underline red;
}

img {
    cursor: pointer;
}

.title-15 {
    font-size: 15px;
}

.line-h-18 {
    line-height: 18px;
}
.hover-red:hover {
    color: #f72210;
    cursor: pointer;
}

.square-red {
    background-color: #f72210;
}

.c-pointer {
    cursor: pointer;
}

.hover-grey:hover {
    background-color: #c2d4d7;
}


/* fixed navbar */

.navbar {
    background-color: #f72210;
}

.parent-fixed-nav {    
    height:27px;
    width: 100%;
}

.parent-subscribe {
    width: 100%;
} 

.logo-news {
    font-size: 25px;
    font-weight: 900;
}

.sign-nav {
    cursor: pointer;
}

.butt-nav {
    border: none;
    color:#f72210;
    cursor: pointer;
}

.bar {
    color: #fb9a94;
    cursor: pointer;
    font-size:30px;
}

/* 1 countainer */

.first-cont {
    background-color: papayawhip;
    height: auto;
    width:100%;
}

/* jumbotron */

.jbt-title {
    color:#272727;
    font-family: Lora, serif;
    font-size: 20px;
}

.jbt-text {
    color: #A0A0A0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.jbt-btn {
    background-color: #c2d4d7;
    color:#272727;
    cursor:pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    width: 60px;
}

.jbt-btn:hover {
    background-color:#272727 ;
    color:#c2d4d7;
}

/* images right */

.img-right-1 {
    height: 90px;
    width: 135px;
}

.favi-img, .slide-img {
    height: 30px;
    width: 30px;
}

/* subscribe section */
.newsletter-size {
    width: 50%;
}

.subs-left {
    width:40%
}

.subs-right {
    width: 60%;
}
